body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    cursor: grab;
    background-color: #b2faed;
}
.fade::selection{
    background-color: transparent;
    color: red;
}
p::selection{
    background-color: transparent;
    color: red;
}
h2::selection{
    background-color: transparent;
    color: red;
}
section{
    display: none;
}
.sectionclass{
    display: block;
}


.upper-container{
    position: absolute;
    /* background-color: #b0faec; */
    background-image: linear-gradient( #b0faec 50%, #ffffff 100%);
    position: relative;
    padding-top: 100px;
    margin-bottom: 0px;
}
.top_cloud{
    position: absolute;
    margin-right: 300px;
    margin-top: 40px;
    margin: -50px 300px 100px auto;
}

h1{
    margin-top: 100px;
    font-size: 50px;
    top: 90px;
    /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    
    color: transparent; */
    
}
.atxt{
    display: inline;
}
.protxt{
    display: inline;
    font-size: 16px;
    font-family: 'Great Vibes', cursive;
    color: #383a39;
}
p{
    margin: 50px auto;
    width: 40%;
    color: rgb(53, 52, 52);
}
h2{
    font-family: 'Great Vibes', cursive;
}
h2:hover{
    color: #5cf0f0;
    transition: all 0.3s ease-in-out;
    cursor: crosshair;
    
}

.bottom_cloud{
    position: absolute;
    margin-right: 300px;
    margin-bottom: 150px;
}
.mountain-img{
    margin-top: -50px;
}
.middle-container{
    margin-top: 0px;
    background-image: linear-gradient( #ffffff 50%, #b0faec 100%);
    padding-top: 10px;
}

.pic{
    margin: 50px auto;
    border-radius: 50%;
    height: 30%;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: dotted rgb(93, 93, 93) 3px;
    border-bottom:none ;
    width: 10%;
}
.skills{
    margin-top: 20px;
    padding-top: 20px;
}
/* .skills:hover{
    background-color: #b0faec;
    transition: all 1s ease-in-out;
} */

.skill-img1{
    margin: auto;
    height: 150px;
    /*float: left;*/
}
.skills-img:hover{
    height: 55px;
    margin-bottom: 5px;
    /* background-color: #8efbe7; */
    transition: all .31s ease-in-out;
    cursor: crosshair;

    
}
.skills-img{
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}


.skill-img2{
    padding: 10px;
    height: 150px;
}
.bottom-container{
    background-image: linear-gradient( #b0faec 50%, #ffffff 100%);
}
/* .projectsDiv{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 400px;
    overflow: scroll;
    

} */
.projects{
    
    height: 30%;
    margin: 20px 40px;
    border: 3px solid rgb(250, 201, 195);
    /* display: flex; */
    /* margin-left: 100px;
    padding: 100px; */
    transition: 0.4s ease-in-out;
}

.twitter{
    margin: 10px;
    height: 8%;
}
.telegram{
    cursor: not-allowed;
}

  
  @media screen and (max-width: 600px) {
    .mountain-img{
        width: 300px;
    }
    .bottom_cloud{
       display: none;
    }
  }
  
  @media screen and (max-width: 400px) {
    .mountain-img{
        width: 200px;
    }
  }

  .projects:hover{
    
    margin: 10px 40px;
    border: 3px solid springgreen;
    box-shadow: 5px 10px 5px rgba(55, 55, 55, 0.6) ;
    
  }