body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}



.upper-container{
    position: absolute;
    background-color: #b0faec;
    position: relative;
    padding-top: 100px;
}
.top_cloud{
    position: absolute;
    margin-right: 300px;
    margin-top: 40px;
    margin: -50px 300px 100px auto;
}

h1{
    margin-top: 100px;
    top: 90px;
}
.atxt{
    display: inline;
}
.protxt{
    display: inline;
    font-size: 16px;
    font-family: 'Great Vibes', cursive;
    color: #383a39;
}
p{
    margin: 50px auto;
    width: 40%;
    color: rgb(53, 52, 52);
}


.bottom_cloud{
    position: absolute;
    margin-right: 300px;
    margin-bottom: 150px;
}
.mountain-img{
    margin-top: -50px;
}

.pic{
    margin: 50px auto;
    border-radius: 50%;
    height: 30%;
}
hr{
    border: dotted rgb(93, 93, 93) 3px;
    border-bottom:none ;
    width: 10%;
}
.skills{
    margin-top: 20px;
}

.skill-img1{
    margin: auto;
    height: 150px;
    /*float: left;*/
}
.skills-img:hover{
    background-color: #8efbe7;
}
.skills-img{
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}


.skill-img2{
    height: 150px;
}
.bottom-container{
    background-color: #e3fffa;
}


.twitter{
    margin: 10px;
    height: 8%;
}

  
  @media screen and (max-width: 600px) {
    .mountain-img{
        width: 300px;
    }
    .bottom_cloud{
       display: none;
    }
  }
  
  @media screen and (max-width: 400px) {
    .mountain-img{
        width: 200px;
    }
  }